<!-- HTML for static distribution bundle build -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{app_name}}</title>
  <link rel="stylesheet" type="text/css" href="{{base_url}}/swagger-ui.css" >
  <link rel="icon" type="image/png" href="{{base_url}}/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{base_url}}/favicon-16x16.png" sizes="16x16" />
  <style>
    html
    {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
    }

    *,
    *:before,
    *:after
    {
        box-sizing: inherit;
    }

    body
    {
      margin:0;
      background: #fafafa;
    }
  </style>
</head>

<body>
<div id="swagger-ui"></div>

<script src="{{base_url}}/swagger-ui-bundle.js"> </script>
<script src="{{base_url}}/swagger-ui-standalone-preset.js"> </script>
<script>
var config = {
  presets: [
    SwaggerUIBundle.presets.apis,
    SwaggerUIStandalonePreset
  ],
  plugins: [
    SwaggerUIBundle.plugins.DownloadUrl
  ]
};
var user_config = {{config_json|safe}};  // User config options provided from Python code
for (var attrname in user_config) { config[attrname] = user_config[attrname]; }

// Parse a string to a javascript function.
// If it's not possible to parse it to a function, return the string.
function parse_function(function_name, value) {
  try {
    eval(value);
    var evaluated_value = eval(function_name);
    if (typeof(evaluated_value) === 'function') {
        return evaluated_value;
    } else {
      console.error(`error evaluating function for config attribute ${attrname}. Not a function (${typeof(evaluated_value)}).`);
    }
  }
  catch(e) {
    console.error(`error evaluating function "${user_config[attrname]}" for config attribute ${attrname}. Exception: `, e);
  }

  return value;
}

// For all the function attributes, parse them if they're present.
var function_attrs = ["requestInterceptor", "responseInterceptor", "operationsSorter", "tagsSorter", "onComplete"];
function_attrs.forEach(function f(function_attr) {
  if (function_attr in config) {
    config[function_attr] = parse_function(function_attr, config[function_attr])
  }
});

window.onload = function() {
  // Build a system
  const ui = SwaggerUIBundle(config)

  {% if oauth_config_json %}
    var oauth_user_config = {{oauth_config_json|safe}};  // OAuth2 user config options provided from Python code
    ui.initOAuth(oauth_user_config);
  {% endif %}

  window.ui = ui
}
</script>
</body>
</html>
